<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id='qn1' class='row'[hidden]='qn1'>
    <div class='col-sm-3'></div>
      <div class='card col-sm-6'>
      
        <h1 align='center'>TECHNOLOGY</h1>
        <h2>1) What is part of a database that holds only one type of information?</h2><br>
      <div class='row' [hidden]='qns1'>
        <div class='col-sm-6'>
          <button class="btn btn-default" (click)='wAns1()'>A. 	Report</button><br><br>
          <button class="btn btn-default" (click)='cAns1()'>C. Field</button>
        </div>
        <div class='col-sm-6'>
            <button class="btn btn-default" (click)='wAns1()'>B. Record</button><br><br>
            <button class="btn btn-default" (click)='wAns1()'>D. File</button>
        </div>
        </div>
        <div class='row' [hidden]='ans1'>
            <div class='col-sm-6'>
              <button class="btn btn-danger" >A. 	Report</button><br><br>
              <button class="btn btn-success" >C. Field</button>
            </div>
            <div class='col-sm-6'>
                <button class="btn btn-danger">B. Record</button><br><br>
                <button class="btn btn-danger" >D. File</button>
    <div class='row'>
      <div class='col-sm-11'></div>
      <div class='col-sm-1'><br><br><button (click)='nextBut1()' [hidden]='next1'>NEXT</button></div>
    </div>
            </div>
      </div> 
</div>
    <div class='col-sm-3'></div>
  
  </div>
  <div id='qn2' class='row'[hidden]='qn2'>
    <div class='col-sm-3'></div>
      <div class='card col-sm-6'>
      
        <h1 align='center'>TECHNOLOGY</h1>
        <h2 >2) Who developed Yahoo?</h2><br>
      <div class='row' [hidden]='qns2'>
        <div class='col-sm-6'>
          <button class="btn btn-default" (click)='wAns2()'>A. Dennis Ritchie & Ken Thompson</button><br><br>
          <button class="btn btn-default" (click)='cAns2()'>C. David Filo & Jerry Yang</button>
        </div>
        <div class='col-sm-6'>
            <button class="btn btn-default" (click)='wAns2()'>B. Vint Cerf & Robert Kahn</button><br><br>
            <button class="btn btn-default" (click)='wAns2()'>D. Steve Case & Jeff Bezos</button>
        </div>
        </div>
        <div class='row' [hidden]='ans2'>
            <div class='col-sm-6'>
              <button class="btn btn-danger">A. Dennis Ritchie & Ken Thompson</button><br><br>
              <button class="btn btn-success">C. David Filo & Jerry Yang</button>
            </div>
            <div class='col-sm-6'>
                <button class="btn btn-danger" >B. Vint Cerf & Robert Kahn</button><br><br>
                <button class="btn btn-danger" >D. Steve Case & Jeff Bezos</button>
    <div class='row'>
      <div class='col-sm-11'></div>
      <div class='col-sm-1'><br><br><button (click)='nextBut2()' [hidden]='next2'>NEXT</button></div>
    </div>
            </div>
      </div> 
</div>
    <div class='col-sm-3'></div>
  </div>
  <div id='qn3' class='row'[hidden]='qn3'>
    <div class='col-sm-3'></div>
      <div class='card col-sm-6'>
      
        <h1 align='center'>TECHNOLOGY</h1>
        <h2 >3) 	
            'DTP' computer abbreviation usually means ?</h2><br>
      <div class='row' [hidden]='qns3'>
        <div class='col-sm-6'>
          <button class="btn btn-default" (click)='wAns3()'>A. Digital Transmission Protocol</button><br><br>
          <button class="btn btn-default" (click)='cAns3()'>C. DeskTop Publishing</button>
        </div>
        <div class='col-sm-6'>
            <button class="btn btn-default" (click)='wAns3()'>B. Data Type Programming</button><br><br>
            <button class="btn btn-default" (click)='wAns3()'>D. Document Type Processing</button>
        </div>
        </div>
        <div class='row' [hidden]='ans3'>
            <div class='col-sm-6'>
              <button class="btn btn-danger">A. Digital Transmission Protocol</button><br><br>
              <button class="btn btn-success">C. DeskTop Publishing</button>
            </div>
            <div class='col-sm-6'>
                <button class="btn btn-danger" >B. Data Type Programming</button><br><br>
                <button class="btn btn-danger" >D. Document Type Processing</button>
    <div class='row'>
      <div class='col-sm-11'></div>
      <div class='col-sm-1'><br><br><button (click)='nextBut3()' [hidden]='next3'>NEXT</button></div>
    </div>
            </div>
      </div> 
</div>
    <div class='col-sm-3'></div>
  </div>
  <div id='qn4' class='row'[hidden]='qn4'>
    <div class='col-sm-3'></div>
      <div class='card col-sm-6'>
      
        <h1 align='center'>TECHNOLOGY</h1>
        <h2 >4) 	
            A JPG is...?</h2><br>
      <div class='row' [hidden]='qns4'>
        <div class='col-sm-6'>
          <button class="btn btn-default" (click)='wAns4()'>A. 	A Jumper Programmed Graphic</button><br><br>
          <button class="btn btn-default" (click)='cAns4()'>C. A format for an image file</button>
        </div>
        <div class='col-sm-6'>
            <button class="btn btn-default" (click)='wAns4()'>B. A type of hard disk</button><br><br>
            <button class="btn btn-default" (click)='wAns4()'>D. A unit of measure for memory</button>
        </div>
        </div>
        <div class='row' [hidden]='ans4'>
            <div class='col-sm-6'>
              <button class="btn btn-danger">A. 	A Jumper Programmed Graphic</button><br><br>
              <button class="btn btn-success" >C. A format for an image file</button>
            </div>
            <div class='col-sm-6'>
                <button class="btn btn-danger">B. A type of hard disk</button><br><br>
                <button class="btn btn-danger" >D. A unit of measure for memory</button>
    <div class='row'>
      <div class='col-sm-11'></div>
      <div class='col-sm-1'><br><br><button (click)='nextBut4()' [hidden]='next4'>NEXT</button></div>
    </div>
            </div>
      </div> 
</div>
    <div class='col-sm-3'></div>
  </div>
  <div id='qn5' class='row'[hidden]='qn5'>
    <div class='col-sm-3'></div>
      <div class='card col-sm-6'>
      
        <h1 align='center'>TECHNOLOGY</h1>
        <h2 >5) 	
            The "http" you type at the beginning of any site's address stands for...?</h2><br>
      <div class='row' [hidden]='qns5'>
        <div class='col-sm-6'>
          <button class="btn btn-default" (click)='wAns5()'>A. HTML Transfer Technology Process</button><br><br>
          <button class="btn btn-default" (click)='wAns5()'>C. Hyperspace Terms and Tech Protocol</button>
        </div>
        <div class='col-sm-6'>
            <button class="btn btn-default" (click)='wAns5()'>B. Hyperspace Techniques & Tech Progress</button><br><br>
            <button class="btn btn-default" (click)='cAns5()'>D. Hyper Text Transfer Protocol</button>
        </div>
        </div>
        <div class='row' [hidden]='ans5'>
            <div class='col-sm-6'>
              <button class="btn btn-danger" >A. HTML Transfer Technology Process</button><br><br>
              <button class="btn btn-danger" >C. Hyperspace Terms and Tech Protocol</button>
            </div>
            <div class='col-sm-6'>
                <button class="btn btn-danger" >B. Hyperspace Techniques & Tech Progress</button><br><br>
                <button class="btn btn-success" >D. Hyper Text Transfer Protocol</button>
    <div class='row'>
      <div class='col-sm-11'></div>
      <div class='col-sm-1'><br><br><button (click)='finish()' [hidden]='next5'>FINISH</button></div>
    </div>
            </div>
      </div> 
</div>
    <div class='col-sm-3'></div>
  </div>
  <div class='row'[hidden]='scoreCard'>
    <div class='col-sm-4'></div>
    <div class='col-sm-4'><h1 align='center'>RESULT</h1><br>
<h2 align='center'>YOUR SCORE IS : {{count}}/5</h2>
    </div>
    <div class='col-sm-4'></div>
  </div>
  <div class='row' [hidden]='scoreCard'>
    <div class='col-sm-4'></div>
    <div class='col-sm-8'><img src='../../assets/photo/{{count}}.jpeg' class="card img-circle" width="500" height="370"></div>
  </div>
</body>
</html>