<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div>
  <h1 align="center">ABOUT US</h1><br><br>
  </div>
  <div class='row'>
    <div class='col-sm-2'></div>
    <div class='card col-sm-8'>
  <h2 align='center'>ABOUT WEBSITE</h2>

    <h3><ul>
      <li>This is a website which makes you to think innovatively.</li>
    <li> Makes you to questioning everthing that how is works and why it is invented.</li>
    <li>Our ultimate aim is to make you understand thing.</li>
  </ul></h3>
</div>
  <div class='col-sm-2'></div>
</div>
</body>
</html>