<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id='qn1' class='row'[hidden]='qn1'>
    <div class='col-sm-3'></div>
      <div class='card col-sm-6'>
      
        <h1 align='center'>SCIENCE</h1>
        <h2>1) Which of the following is used in pencils?</h2><br>
      <div class='row' [hidden]='qns1'>
        <div class='col-sm-6'>
          <button class="btn btn-default" (click)='cAns1()'>A. Graphite</button><br><br>
          <button class="btn btn-default" (click)='wAns1()'>C. Silicon</button>
        </div>
        <div class='col-sm-6'>
            <button class="btn btn-default" (click)='wAns1()'>B. Charcoal</button><br><br>
            <button class="btn btn-default" (click)='wAns1()'>D. Phosphorous</button>
        </div>
        </div>
        <div class='row' [hidden]='ans1'>
            <div class='col-sm-6'>
              <button class="btn btn-success" >A. Graphite</button><br><br>
              <button class="btn btn-danger" >C. Silicon</button>
            </div>
            <div class='col-sm-6'>
                <button class="btn btn-danger">B. Charcoal</button><br><br>
                <button class="btn btn-danger" >D. Phosphorous</button>
    <div class='row'>
      <div class='col-sm-11'></div>
      <div class='col-sm-1'><br><br><button (click)='nextBut1()' [hidden]='next1'>NEXT</button></div>
    </div>
            </div>
      </div> 
</div>
    <div class='col-sm-3'></div>
  
  </div>
  <div id='qn2' class='row'[hidden]='qn2'>
    <div class='col-sm-3'></div>
      <div class='card col-sm-6'>
      
        <h1 align='center'>SCIENCE</h1>
        <h2 >2) Decibel is the unit for?</h2><br>
      <div class='row' [hidden]='qns2'>
        <div class='col-sm-6'>
          <button class="btn btn-default" (click)='wAns2()'>A. speed of light</button><br><br>
          <button class="btn btn-default" (click)='wAns2()'>C. radio wave frequency</button>
        </div>
        <div class='col-sm-6'>
            <button class="btn btn-default" (click)='cAns2()'>B. intensity of sound</button><br><br>
            <button class="btn btn-default" (click)='wAns2()'>D. intensity of heat</button>
        </div>
        </div>
        <div class='row' [hidden]='ans2'>
            <div class='col-sm-6'>
              <button class="btn btn-danger">A. speed of light</button><br><br>
              <button class="btn btn-danger">C. radio wave frequency</button>
            </div>
            <div class='col-sm-6'>
                <button class="btn btn-success" >B. intensity of sound</button><br><br>
                <button class="btn btn-danger" >D. intensity of heat</button>
    <div class='row'>
      <div class='col-sm-11'></div>
      <div class='col-sm-1'><br><br><button (click)='nextBut2()' [hidden]='next2'>NEXT</button></div>
    </div>
            </div>
      </div> 
</div>
    <div class='col-sm-3'></div>
  </div>
  <div id='qn3' class='row'[hidden]='qn3'>
    <div class='col-sm-3'></div>
      <div class='card col-sm-6'>
      
        <h1 align='center'>SCIENCE</h1>
        <h2 >3) Atoms are composed of?</h2><br>
      <div class='row' [hidden]='qns3'>
        <div class='col-sm-6'>
          <button class="btn btn-default" (click)='wAns3()'>A. electrons and protons</button><br><br>
          <button class="btn btn-default" (click)='wAns3()'>C. electrons only</button>
        </div>
        <div class='col-sm-6'>
            <button class="btn btn-default" (click)='wAns3()'>B. protons only</button><br><br>
            <button class="btn btn-default" (click)='cAns3()'>D. electrons and nuclei</button>
        </div>
        </div>
        <div class='row' [hidden]='ans3'>
            <div class='col-sm-6'>
              <button class="btn btn-danger">A. electrons and protons</button><br><br>
              <button class="btn btn-danger">C. electrons only</button>
            </div>
            <div class='col-sm-6'>
                <button class="btn btn-danger" >B. protons only</button><br><br>
                <button class="btn btn-success" >D. electrons and nuclei</button>
    <div class='row'>
      <div class='col-sm-11'></div>
      <div class='col-sm-1'><br><br><button (click)='nextBut3()' [hidden]='next3'>NEXT</button></div>
    </div>
            </div>
      </div> 
</div>
    <div class='col-sm-3'></div>
  </div>
  <div id='qn4' class='row'[hidden]='qn4'>
    <div class='col-sm-3'></div>
      <div class='card col-sm-6'>
      
        <h1 align='center'>SCIENCE</h1>
        <h2 >4) Which type of fire extinguisher is used for petroleum fire?</h2><br>
      <div class='row' [hidden]='qns4'>
        <div class='col-sm-6'>
          <button class="btn btn-default" (click)='cAns4()'>A. Powder type</button><br><br>
          <button class="btn btn-default" (click)='wAns4()'>C. Liquid type</button>
        </div>
        <div class='col-sm-6'>
            <button class="btn btn-default" (click)='wAns4()'>B. Soda acid type</button><br><br>
            <button class="btn btn-default" (click)='wAns4()'>D. Foam type</button>
        </div>
        </div>
        <div class='row' [hidden]='ans4'>
            <div class='col-sm-6'>
              <button class="btn btn-success">A. Powder type</button><br><br>
              <button class="btn btn-danger" >C. Liquid type</button>
            </div>
            <div class='col-sm-6'>
                <button class="btn btn-danger">B. Soda acid type</button><br><br>
                <button class="btn btn-danger" >D. Foam type</button>
    <div class='row'>
      <div class='col-sm-11'></div>
      <div class='col-sm-1'><br><br><button (click)='nextBut4()' [hidden]='next4'>NEXT</button></div>
    </div>
            </div>
      </div> 
</div>
    <div class='col-sm-3'></div>
  </div>
  <div id='qn5' class='row'[hidden]='qn5'>
    <div class='col-sm-3'></div>
      <div class='card col-sm-6'>
      
        <h1 align='center'>SCIENCE</h1>
        <h2 >5) One kilometre is equal to how many miles?</h2><br>
      <div class='row' [hidden]='qns5'>
        <div class='col-sm-6'>
          <button class="btn btn-default" (click)='wAns5()'>A. 0.84</button><br><br>
          <button class="btn btn-default" (click)='wAns5()'>C. 0.5</button>
        </div>
        <div class='col-sm-6'>
            <button class="btn btn-default" (click)='wAns5()'>B. 1.6</button><br><br>
            <button class="btn btn-default" (click)='cAns5()'>D. 0.62</button>
        </div>
        </div>
        <div class='row' [hidden]='ans5'>
            <div class='col-sm-6'>
              <button class="btn btn-danger" >A. 0.84</button><br><br>
              <button class="btn btn-danger" >C. 0.5</button>
            </div>
            <div class='col-sm-6'>
                <button class="btn btn-danger" >B. 1.6</button><br><br>
                <button class="btn btn-success" >D. 0.62</button>
    <div class='row'>
      <div class='col-sm-11'></div>
      <div class='col-sm-1'><br><br><button (click)='finish()' [hidden]='next5'>FINISH</button></div>
    </div>
            </div>
      </div> 
</div>
    <div class='col-sm-3'></div>
  </div>
  <div class='row'[hidden]='scoreCard'>
    <div class='col-sm-4'></div>
    <div class='col-sm-4'><h1 align='center'>RESULT</h1><br>
<h2 align='center'>YOUR SCORE IS : {{count}}/5</h2>
    </div>
    <div class='col-sm-4'></div>
  </div>
  <div class='row' [hidden]='scoreCard'>
    <div class='col-sm-4'></div>
    <div class='col-sm-8'><img src='../../assets/photo/{{count}}.jpeg' class="card img-circle" width="500" height="370"></div>
  </div>
</body>
</html>