<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id='qn1' class='row'[hidden]='qn1'>
    <div class='col-sm-3'></div>
      <div class='card col-sm-6'>
      
        <h1 align='center'>INDIAN POLITICS</h1>
        <h2>1) The members of Lok Sabha are?</h2><br>
      <div class='row' [hidden]='qns1'>
        <div class='col-sm-6'>
          <button class="btn btn-default" (click)='cAns1()'>A. directly elected by the people</button><br><br>
          <button class="btn btn-default" (click)='wAns1()'>C. indirectly elected</button>
        </div>
        <div class='col-sm-6'>
            <button class="btn btn-default" (click)='wAns1()'>B. nominated</button><br><br>
            <button class="btn btn-default" (click)='wAns1()'>D. partly elected and partly nominated</button>
        </div>
        </div>
        <div class='row' [hidden]='ans1'>
            <div class='col-sm-6'>
              <button class="btn btn-success" >A. directly elected by the people</button><br><br>
              <button class="btn btn-danger" >C. indirectly elected</button>
            </div>
            <div class='col-sm-6'>
                <button class="btn btn-danger">B. nominated</button><br><br>
                <button class="btn btn-danger" >D. partly elected and partly nominated</button>
    <div class='row'>
      <div class='col-sm-11'></div>
      <div class='col-sm-1'><br><br><button (click)='nextBut1()' [hidden]='next1'>NEXT</button></div>
    </div>
            </div>
      </div> 
</div>
    <div class='col-sm-3'></div>
  
  </div>
  <div id='qn2' class='row'[hidden]='qn2'>
    <div class='col-sm-3'></div>
      <div class='card col-sm-6'>
      
        <h1 align='center'>INDIAN POLITICS</h1>
        <h2 >2) The minimum age required to become the prime minister of India is?</h2><br>
      <div class='row' [hidden]='qns2'>
        <div class='col-sm-6'>
          <button class="btn btn-default" (click)='cAns2()'>A. 25 years</button><br><br>
          <button class="btn btn-default" (click)='wAns2()'>C. 30 years</button>
        </div>
        <div class='col-sm-6'>
            <button class="btn btn-default" (click)='wAns2()'>B. 40 years</button><br><br>
            <button class="btn btn-default" (click)='wAns2()'>D. 35 years</button>
        </div>
        </div>
        <div class='row' [hidden]='ans2'>
            <div class='col-sm-6'>
              <button class="btn btn-success">A. 25 years</button><br><br>
              <button class="btn btn-danger">C. 30 years</button>
            </div>
            <div class='col-sm-6'>
                <button class="btn btn-danger" >B. 40 years</button><br><br>
                <button class="btn btn-danger" >D. 35 years</button>
    <div class='row'>
      <div class='col-sm-11'></div>
      <div class='col-sm-1'><br><br><button (click)='nextBut2()' [hidden]='next2'>NEXT</button></div>
    </div>
            </div>
      </div> 
</div>
    <div class='col-sm-3'></div>
  </div>
  <div id='qn3' class='row'[hidden]='qn3'>
    <div class='col-sm-3'></div>
      <div class='card col-sm-6'>
      
        <h1 align='center'>INDIAN POLITICS</h1>
        <h2 >3) The name of the union given in the Constitution is?</h2><br>
      <div class='row' [hidden]='qns3'>
        <div class='col-sm-6'>
          <button class="btn btn-default" (click)='wAns3()'>A. Hindustan or Bharatavarsha</button><br><br>
          <button class="btn btn-default" (click)='wAns3()'>C. India or Hindustan</button>
        </div>
        <div class='col-sm-6'>
            <button class="btn btn-default" (click)='cAns3()'>B. India or Bharat</button><br><br>
            <button class="btn btn-default" (click)='wAns3()'>D. Bharatadesh or India</button>
        </div>
        </div>
        <div class='row' [hidden]='ans3'>
            <div class='col-sm-6'>
              <button class="btn btn-danger">A. Hindustan or Bharatavarsha</button><br><br>
              <button class="btn btn-danger">C. India or Hindustan</button>
            </div>
            <div class='col-sm-6'>
                <button class="btn btn-success" >B. India or Bharat</button><br><br>
                <button class="btn btn-danger" >D. Bharatadesh or India</button>
    <div class='row'>
      <div class='col-sm-11'></div>
      <div class='col-sm-1'><br><br><button (click)='nextBut3()' [hidden]='next3'>NEXT</button></div>
    </div>
            </div>
      </div> 
</div>
    <div class='col-sm-3'></div>
  </div>
  <div id='qn4' class='row'[hidden]='qn4'>
    <div class='col-sm-3'></div>
      <div class='card col-sm-6'>
      
        <h1 align='center'>INDIAN POLITICS</h1>
        <h2 >4) The members of the standing committee are taken from the Lok Sabha and Rajya Sabha in the ratio of?</h2><br>
      <div class='row' [hidden]='qns4'>
        <div class='col-sm-6'>
          <button class="btn btn-default" (click)='cAns4()'>A. two and one respectively
            </button><br><br>
          <button class="btn btn-default" (click)='wAns4()'>C. three and one respectively</button>
        </div>
        <div class='col-sm-6'>
            <button class="btn btn-default" (click)='wAns4()'>B. four and one respectively</button><br><br>
            <button class="btn btn-default" (click)='wAns4()'>D. equal members for both the Houses</button>
        </div>
        </div>
        <div class='row' [hidden]='ans4'>
            <div class='col-sm-6'>
              <button class="btn btn-success">A. two and one respectively
                </button><br><br>
              <button class="btn btn-danger" >C. three and one respectively</button>
            </div>
            <div class='col-sm-6'>
                <button class="btn btn-danger">B. four and one respectively</button><br><br>
                <button class="btn btn-danger" >D. equal members for both the Houses</button>
    <div class='row'>
      <div class='col-sm-11'></div>
      <div class='col-sm-1'><br><br><button (click)='nextBut4()' [hidden]='next4'>NEXT</button></div>
    </div>
            </div>
      </div> 
</div>
    <div class='col-sm-3'></div>
  </div>
  <div id='qn5' class='row'[hidden]='qn5'>
    <div class='col-sm-3'></div>
      <div class='card col-sm-6'>
      
        <h1 align='center'>INDIAN POLITICS</h1>
        <h2 >5) The minimum age of the voter in India is?</h2><br>
      <div class='row' [hidden]='qns5'>
        <div class='col-sm-6'>
          <button class="btn btn-default" (click)='wAns5()'>A. 15 years</button><br><br>
          <button class="btn btn-default" (click)='cAns5()'>C. 18 years</button>
        </div>
        <div class='col-sm-6'>
            <button class="btn btn-default" (click)='wAns5()'>B. 21 years</button><br><br>
            <button class="btn btn-default" (click)='wAns5()'>D. 25 years</button>
        </div>
        </div>
        <div class='row' [hidden]='ans5'>
            <div class='col-sm-6'>
              <button class="btn btn-danger" >A. 15 years</button><br><br>
              <button class="btn btn-success" >C. 18 years</button>
            </div>
            <div class='col-sm-6'>
                <button class="btn btn-danger" >B. 21 years</button><br><br>
                <button class="btn btn-danger" >D. 25 years</button>
    <div class='row'>
      <div class='col-sm-11'></div>
      <div class='col-sm-1'><br><br><button (click)='finish()' [hidden]='next5'>FINISH</button></div>
    </div>
            </div>
      </div> 
</div>
    <div class='col-sm-3'></div>
  </div>
  <div class='row'[hidden]='scoreCard'>
    <div class='col-sm-4'></div>
    <div class='col-sm-4'><h1 align='center'>RESULT</h1><br>
<h2 align='center'>YOUR SCORE IS : {{count}}/5</h2>
    </div>
    <div class='col-sm-4'></div>
  </div>
  <div class='row' [hidden]='scoreCard'>
    <div class='col-sm-4'></div>
    <div class='col-sm-8'><img src='../../assets/photo/{{count}}.jpeg' class="card img-circle" width="500" height="370"></div>
  </div>
</body>
</html>