<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class='row'>
<div class='col-sm-2'></div>
<div class='col-sm-3'[hidden]='img1'>
  <button (click)='imgClick1()'><img src='../../assets/photo/science.jpg'  class="img-rounded" width="400" height="250"></button>
  
</div>
<div class='col-sm-1'></div>
<div class='col-sm-1'></div>
<div class='col-sm-3'[hidden]='img2'>
    <button (click)='imgClick2()'><img src='../../assets/photo/politics.jpg' class="img-rounded" width="400" height="250"></button>
</div>
<div class='col-sm-2'></div>
  </div><br><br><br>
  <div class='row'>
      <div class='col-sm-2'></div>
      <div class='col-sm-3'[hidden]='img3'>
          <button (click)='imgClick3()'><img src='../../assets/photo/Technology.jpg' class="img-rounded" width="400" height="250"></button>
      </div>
      <div class='col-sm-1'></div>
      <div class='col-sm-1'></div>
      <div class='col-sm-3'[hidden]='img4'>
          <button (click)='imgClick4()'><img src='../../assets/photo/sports.jpg' class="img-rounded" width="400" height="250"></button>
      </div>
      <div class='col-sm-2'></div>
        </div>
</body>
</html>